body, img#logo {
	background-color: #403D3C;
	color: #D3CBBD;
}

#page > header, nav a {
	background-color: #1C1919;
}

#page > header {
	-webkit-box-shadow: 3px 0px 5px 0px #000;
            box-shadow: 3px 0px 5px 0px #000;
}

img#logo {
	-webkit-box-shadow: 3px 0px 5px 0px #000 inset;
            box-shadow: 3px 0px 5px 0px #000 inset;
}

nav a:hover, nav a:active {
	background-color: #EB5937;
	color: #1C1919;
	box-shadow: inset 0px 2px 3px 0px #000;
}